/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ago-2014, 9:55:31
    Author     : marcos.martinez
*/
body {
    background-image: url('../gfx/main/fondo.png'); 
    background-size: 100%;
    font-family: '../fonts/HelveticaNeue.dfont';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

a{ color: #000;}
a:link {text-decoration: none;}
a:hover {color: #34b05f;}

.menu_reporte a {
    color: #fff;
}



.height_main {
    height: 50px;
}

.img_main {
    margin-left: 100px;
    margin-top: 5px;
}


.textbox {
    height: 25px;
    background-color:#fff;
    width: 100%;
    color: #555;
    padding:2px;
    border:1px solid #ddd;
    border-radius: 10px;
    -moz-border-radius-bottomleft: 10px;  
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

.textbox-finanzas {
    height: 30px;
    background-color:#d5d5d5;
    width: 100%;
    color: #8a8989;
    padding:2px;
    border:1px solid #ddd;
    /* -moz-border-radius-bottomleft: 10px;  
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;*/
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}


.margen_bottom_5 {
    margin-bottom: 5px;
}

.margen_bottom_10 {
    margin-bottom: 10px;
}

.margen_bottom_20 {
    margin-bottom: 20px;
}


.margen_top_20 {
    margin-top: 20px;
}

.margen_top_10 {
    margin-top: 10px;
}


.css_login {
    border-radius: 10px;
    background-color:#d5d5d5;
    margin-top: 70px;
    height: 465px;
}


#frmLogin {
    background-color:#d5d5d5;

}


input[type="submit"]{
    color: #fff;
    width: 205px;
    height: 25px;
    cursor:pointer;
    border-radius: 10px;
    -moz-border-radius-bottomleft: 10px;  
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #34b05f;
    width: 100%;
}


input {
    text-align: center;
}

.bg_color_menu_negocio {
    background-color: #34b05f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    height: auto;

}

.bg_color_menu {
    background-color: #34b05f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
}

.bg_color_menu_active {
    background-color: #34b05f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    height: 53px;
    padding: 10px;
    margin-top: 5px;
}

.bg_color_menu_inactive {
    margin-top: 13px;
    background-color:#d5d5d5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    height: 45px;
    padding: 10px;
}

.padding_menu_10 {
    padding: 10px;
}

select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    text-align: center;
}

.select_filtro {
    background-color: #83c299;
    background-position: 100.5% center;
    background-repeat: no-repeat;
    border: 0 none;
    float: left;
    overflow: auto;
    padding-top: 4px;
}

.select_filtro_negocio {
    background-color: #d5d5d5;
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 0 none;
    float: left;
    overflow: auto;
    padding-top: 4px;
}

.texto_titulo_main {
    font-size: 17px;
}

.bgk_menu_lista 
{
    padding: 30px;
    font-weight: bold;
    height: 50px;
    background-color: #fff;
    border-bottom: solid 2px #d5d5d5;
}

.bgk_blanco_general {
    border-radius: 10px;
    background-color: #fff;
}

.texto_titulo_seccion_finanzas {
    font-size: 14px;
}


.select_filtro_finanzas {
    background-color: #d5d5d5;
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 0 none;
    float: left;
    overflow: auto;
    padding-top: 4px;
}


.texto_21 {
    font-size: 21px;
}

.texto_24 {
    font-size: 24px;
}

.texto_22 {
    font-size: 22px;
}

button {
    background-color: #34b05f;
    border:solid 1px #34b05f;
    color: #fff;
    height: 35px;
    width: 100px;
}


button:hover {
    background-color: #262626;
    border:solid 1px #262626;
}

navbar {
    height: 50px;
}

.padding_titulo_principal {
    padding-top: 10px; 
    padding-bottom: 10px;
}

.padding_titulo_menu {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.tabla_grafica thead th {
    background-color: #34b05f;
    color: #fff;
    font-size: 14px;
}