/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ago-2014, 9:55:31
    Author     : marcos.martinez
*/

@font-face
{
    font-family: "HelveticaNeue";
    src: local('HelveticaNeue'), url(../fonts/HelveticaNeue.dfont);
    font-style: normal;
    font-weight: normal;
}


body 
{
    background-image: url('../gfx/main/fondo.png'); 
    background-size: 100%;
    font-family: 'HelveticaNeue';
    font-size: 1.2em;
    color: #343434;
}



span 
{
    display: inline;    
}


a{ color: #000;}

a:link {text-decoration: none;}
a:hover {color: #34b05f;}

select 
{
    width: 100%;
    height: 30px;
    font-size: 1em;
    text-align: center;
    border:0px;
    border-radius: 0;

}

input[type="submit"]
{
    color: #fff;
    width: 80%;
    height: 25px;
    cursor:pointer;
    border-radius: 10px;
    -moz-border-radius-bottomleft: 10px;  
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #34b05f;
    width: 100%;
}


input 
{
    text-align: center;
    font-size: 1.1em;
}



.menu_reporte a 
{
    color: #fff;
}



.height_main 
{
    height: 50px;
}

.img_main 
{
    margin-left: 100px;
    margin-top: 5px;
}


.textbox-login, .textbox, .textbox-finanzas
{
    height: 30px;
    width: 100%;
    color: #555;
    border: 2px solid #ddd;
}

.textbox-finanzas 
{
    background-color:#d5d5d5;
    color: #8a8989;
}

.textbox-login
{
    border-radius: 6px;
    height: 30px;
}



.select_negocio
{
    background: #83c299;
}

.select_general
{
    background: #d5d5d5;
}




.margen_bottom_5 
{
    margin-bottom: 5px;
}

.margen_bottom_10 
{
    margin-bottom: 10px;
}

.margen_bottom_20 
{
    margin-bottom: 20px;
}



.margen_top_5 
{
    margin-top: 5px;
}

.margen_top_10 
{
    margin-top: 10px;
}

.margen_top_20 
{
    margin-top: 20px;
}




.css_login {
    border-radius: 10px;
    background-color:#d5d5d5;
    margin-top: 70px;
    height: 465px;
}


#frmLogin {
    background-color:#d5d5d5;

}





.bg_color_menu {
    background-color: #34b05f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.margen_negocio_dato
{
    background-color: #34b05f;
    color: #fff;
    padding: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

.menu_active, .menu_inactive {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    padding: 10px;

}

.menu_active {
    background-color: #34b05f;

}

.menu_inactive {
    background-color:#d5d5d5;
    height: 50%;

}

.padding_menu_10 {
    padding: 10px;
}


.bgk_menu_lista 
{
    padding: 30px;
    font-weight: bold;
    height: 50px;
    background-color: #fff;
    border-bottom: solid 2px #d5d5d5;
}

.bgk_blanco_general {
    border-radius: 10px;
    background-color: #fff;
}


.texto_21 {
    font-size: 1.5em;
}

.texto_24 {
    font-size: 24px;
}

.texto_22 {
    font-size: 22px;
}

button {
    background-color: #34b05f;
    border: solid 1px #34b05f;
    color: #fff;
    height: 30px;
    width: 60%;

}


button:hover {
    background-color: #262626;
    border: solid 1px #262626;
}

navbar {
    height: 50px;
}

.padding_titulo_principal {
    margin-top: 10px; 
    margin-bottom: 10px;
}

.padding_titulo_menu {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.tabla_grafica thead th {
    background-color: #34b05f;
    color: #fff;
    vertical-align: top;
}


.MyASC a{
    color: #262626;
    text-decoration:none;
}

.MyDESC a{
    color: #262626;
    text-decoration:none;

}